* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* font-family: "Concert One", sans-serif; */
    font-family: "Lexend", serif;
}

:root {
    --frist-color: #1f2022;
    --main-bg-color: #fff;
}

body {
    background-color: var(--main-bg-color);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 3;

    background-color: var(--main-bg-color);
    box-shadow: 0px 2px 4px #464446;
    color: var(--frist-color);
    padding-block: 5px;
    padding-inline: 10px;
    width: 100%;
    min-width: 85em;
    top: 0;

}


header nav ul {
    display: flex;
    gap: 20px;

    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    transition: color 0.4s ease-in-out;
}


header nav ul li a {
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--frist-color);
    text-decoration: none;
}



header nav ul li:hover {
    border-bottom: 2px var(--frist-color) solid;
}


/**Info institucional*/

.info-insti {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-top: 8em;
    padding-inline: 10em;
    padding-bottom: 10em;

    color: var(--main-bg-color);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-insti .Text {
    margin-block: 3em;
}

.info-insti .turistic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40em;
    height: 20em;

    animation: scroling 2s alternate infinite;

}

@keyframes scroling {
    0% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(5px);
    }
}

/** Eslogans */
#eslogan {
    display: flex;
    gap: 20px;
    color: var(--frist-color);
}

#e-1 {
    background-color: #0099ff;
    box-shadow: 4px 4px var(--frist-color);
    padding: 2px 4px;
}

#e-2 {
    background-color: #ffe60d;
    box-shadow: 4px 4px var(--frist-color);
    padding: 2px 4px;
}

#e-3 {
    background-color: #79FB00;
    box-shadow: 4px 4px var(--frist-color);
    padding: 2px 4px;
}

/** Catalogo */

.Catalogo {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    color: var(--frist-color);
    padding-block: 8em;
}

/*? Cards */

.Catalogo .contenedor-cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.Catalogo .contenedor-cards .cards {
    position: relative;
    display: flex;
    width: 100%;
    height: 26em;
}



.Catalogo .contenedor-cards .cards .img-card {
    background-color: #0099ff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 26em;
}

.Catalogo .contenedor-cards .cards .info-card {
    /* background-color: #ff00ee; */
    width: 50%;
    height: 26em;

    margin-inline: 10px;

}

.Catalogo .contenedor-cards .cards .info-card h3 {
    font-weight: 900;
    text-align: left;
    font-size: 5.5rem;
}

.Catalogo .contenedor-cards .cards .info-card p {
    text-align: left;
    text-wrap: pretty;

}

.Catalogo .contenedor-cards .cards .btn-card {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffe70dd3;
    color: var(--frist-color);
    padding-inline: 20px;
    padding-block: 10px;
    box-shadow: 4px 4px #000;

    border: 1px solid #000;
    transition: all 200ms;
    transform: scale(1);
}

.Catalogo .contenedor-cards .cards .btn-card:hover {
    box-shadow: none;
    transition: all 200ms;
    transform: scale(1.05);

}

/** Blog's */
.Blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    height: 10em;
    width: 100%;

    color: transparent;
    -webkit-text-stroke: 1px var(--main-bg-color);
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./images/Andariego-Jarabacoa.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Blog h2 {
    font-family: Arial, Helvetica, sans-serif;
}


/** FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-block: 10px;
    width: 100%;
    height: 20em;
}

.contenedor-derecho {
    display: flex;
    gap: 15px;

    font-size: 1.2rem;
    text-decoration: none;
}

.contenedor-derecho ul {
    list-style: none;
}

.contenedor-derecho ul li {
    margin-block: 5px;
}

.contenedor-derecho ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #23221fc8;
    text-decoration: none;
    transition: color 0.2s;
}

.contenedor-derecho ul li a:hover {
    color: var(--frist-color);
    transition: color 0.2s;
}

.contenedor-izquierdo {
    width: 16em;
}

.contenedor-izquierdo .encabezado {
    display: inline-flex;
    align-items: center;
}

.contenedor-izquierdo .iconos {
    display: inline-flex;
    gap: 10px;
}

.contenedor-izquierdo .iconos svg {
    width: 20px;
    height: 20px;
}

.derechos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
}



/* icons */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');